<!--Making starting point template with conventional name. We are going to make other html pages inheret from this-->

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="widt=device-width, initial-scale=1.0">
        <title>Sesame CRM</title>
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="max-w-7xl mx-auto">
            {% include "nav.html" %}
            {% block content %}
            {% endblock content%}
        </div>
       
    </body>
</html>