<!--Here I have programmed a very basic home page that contains all of the needsm has a nice holder image I have uploaded to imgur-->

{% extends 'base.html' %}

{% block content %}
<section class="text-gray-400 bg-gray-900 body-font">
    <div class="min-h-screen container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
      <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">Lead are really cool 
          <br class="hidden lg:inline-block"> I promise
        </h1>
        <p class="mb-8 leading-relaxed">I do not enjoy front end development</p>
        <div class="flex justify-center">
          <a href={% url 'signup' %} class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Get Started</a>
         
        </div>
      </div>
      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
        <img class="object-cover object-center rounded" alt="hero" src="https://i.imgur.com/zTftwpP.jpeg">
      </div>
    </div>
  </section>
  {% endblock content %}