{% extends 'base.html' %}

{% block content %}
<section class="text-gray-400 bg-gray-900 body-font overflow-hidden">
  <div class=" flex flex-row min-h-screen justify-center items-center">
    <div class="flex flex-row min-h-screen justify-center items-center">
      <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest">Lead #{{lead.pk}}</h2>
        <h1 class="text-white text-3xl title-font font-medium mb-4">{{lead.first_name}} {{lead.last_name}}</h1>
        <div class="flex mb-4">
          <a class="flex-grow text-indigo-400 border-b-2 border-indigo-500 py-2 text-lg px-1">Information</a>
          <a href="{%url 'leads:update-lead' lead.pk %}" class="flex-grow border-b-2 border-gray-800 py-2 text-lg px-1">Update</a>
        </div>
        <p class="leading-relaxed mb-4">{{lead.description}}</p>
        
        <div class="flex border-t border-gray-800 py-2">
          <span class="text-gray-500">Company </span>
          <span class="ml-auto text-white">{{lead.company}}</span>
        </div>
        <div class="flex border-t border-gray-800 py-2">
          <span class="text-gray-500">Industry </span>
          <span class="ml-auto text-white">{{lead.industry}}</span>
        </div>
        <div class="flex border-t border-gray-800 py-2">
          <span class="text-gray-500">Cell </span>
          <span class="ml-auto text-white">{{lead.phone_number}}</span>
        </div>
        <div class="flex border-t border-gray-800 py-2">
          <span class="text-gray-500">Lead Owner </span>
          <span class="ml-auto text-white">{{lead.account_executive}}</span>
        </div>
        
        
        
        <div class="flex">
          
        </div>
      </div>
      
    </div>
  </div>
</section>
{% endblock content %}