{% extends "base.html" %}

{% block content %}
    <a href="{% url 'leads:lead-details' lead.pk %}">Back</a>
    <hr />
    <!--Using Django syntax  to output keys and writing python to iterate through the keys and print all leads in an html list  --> 
    <!-- With this href we are going to be able to navigate through leads-->
    <h1>Update lead: {{lead.first_name}} {{lead.last_name}} </h1>
    <!--Created a form with method POST as we need this to submit a form-->
    <!--When you need to submit a form in Django you need to submit a csrf token-->
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update Lead</button> 
    </form> 
{% endblock content %}