{% extends 'base.html' %}
{% load tailwind_filters %}


{% block content %}
<div class="max-w-lg mx-auto">
    <form method="post">
        {% csrf_token %}
        {{ form|crispy}}
        <button class="flex justify-auto text-white bg-indigo-500 border-5 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded" type="submit">Reset password</button>
        <hr /> 
        <a class="flex-grow text-indigo-400 border-b-2  py-2 text-lg px-1" href={% url 'login' %}> Have account? </a>
    </form>
</div> 


{% endblock content %}



